a:hover{
  text-decoration: none;
}
.menu-link {
  position: relative;
  margin: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu-link:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  content: "";
  width: 90%;
  height: 1px;
  background: #66d37e;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.menu-link:hover:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
