.portfolio-item {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 250px;
  height: 300px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 18px 0px #d2cccc;
  cursor: pointer;
  &:hover {
    .portfolio-item-desc {
        transform:translateY(-50px);
    }
  }
  .portfolio-item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .portfolio-item-desc {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Raleway;
    background-color: rgba(#343434, 0.6);
    z-index: 100;
    bottom: -50px;
    padding: 5px 0;
    transition: all .2s ease-in-out;
    .portfolio-item-title {
      font-weight: bold;
    }
  }
}
