.container{
  background-color: rgb(241, 243, 245);
  height: 100%;
  padding: 50px;
}
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction-column
{
  flex-direction: column;
}
.danger
{
  color:red;
  font-size: .9rem;
}